    <div id="add-form-container" class="container">
        <div class="row">
            <div class="col-md-12">
                    <h1 class="text-center">Divulgue a vaga preenchendo o formulário</h1>
            </div>
            <div id="form-box" class="col-md-12">
                <h2>Especifique os requerimentos da vaga</h2>
                <form action="/jobs/add" method="POST">
                    <div class="form-group">
                        <label for="title">Título da vaga:</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Digite o titulo da vaga" required>
                        <small id="titleHelp" class="form-text text-muted">O título é muito importante, seja claro e objetivo.</small>
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="desription">Descrição da vaga:</label>
                        <textarea type="text" class="form-control" id="description" name="description" placeholder="Descreva as atividades e requerimentos da vaga" required></textarea>
                    </div>
                    </p>
                    <p>
                    <div class="form-group">
                        <label for="company">Empresa:</label>
                        <input type="text" class="form-control" id="company" name="company" placeholder="Digite a contratante." required>
                    </div>
                    </p>
                    <div class="form-group">
                        <label for="email">E-mail de contato:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Digite o E-mail para contato." required> 
                    </div>
                    <p>
                    <div class="form-group">
                        <label for="salary">salario:</label>
                        <input type="text" class="form-control" id="salary" name="salary" placeholder="Digite o salario da vaga" required>
                    </div>
                    </p>
                    <input type="hidden" name="new_job" value="1">
                    <button type="submite" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>        
    </div>